*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}


.container{
  max-width: 95%;
  height: 650px;
  background: url(./images/pattern-curve.svg) no-repeat bottom left;
  margin: auto;
  position: relative;
  top: 40px;
  padding: 2rem;
  border: 1px solid hsl(240, 18%, 77%);
  border-radius: 5px;
}

#testimonial{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: url(./images/pattern-bg.svg) no-repeat right;
  background-size: contain;
}

.text-container{
  padding: 3rem;
  padding-right: 0;
  background: url(./images/pattern-quotes.svg) no-repeat;
  background-position-x: 130px;
  color: hsl(240, 38%, 20%);
  font-weight: 300;
}

.comment{
  font-size: 32px;
  position: relative;
  z-index: 1;
}

.name{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.position{
  color: hsl(240, 18%, 77%);
  margin-left: .5rem;
}


.image #main-img{
  width: 450px;
  height: 450px;
  border-radius: 5px;
  position: relative;
  right: 70px;
  z-index: 0;
  box-shadow: 5px 5px 30px hsl(240, 18%, 77%);
}

.buttons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
  border-radius: 50px;
  position: relative;
  bottom: 30px;
}

.buttons img{
  width: 15px;
  height: 20px;
}

button{
  background: none;
  border: none;
}





/* Mobile Screens */


@media (max-width: 800px){
  .container{
    max-width: 100%;
    height: 100vh;
    top: 0;
    border: none;
    background-size: contain;
  }

  #testimonial{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    background: none;
  }

  .text-container{
    height: 50%;
    width: 100%;
    order: 2;
    padding: 1rem;
    background: url(./images/pattern-quotes.svg) no-repeat;
    background-position-x: 50%;
    background-size: 20%;
    color: hsl(240, 38%, 20%);
    font-weight: 300;
  }

  .comment{
    font-size: 1.2rem;
    text-align: center;
  }

  .name{
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

  .image{
    order: 1;
    width: 100%;
    height: 50%;
    background: url(./images/pattern-bg.svg) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image #main-img{
    width: 250px;
    height: 250px;
    position: relative;
    top: 30px;
    right: 0;
    z-index: 0;
    box-shadow: 5px 5px 30px hsl(240, 18%, 77%);
  }

 
}